<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Your Post</title>
    <!-- <link rel="stylesheet" href="../style.css" /> -->
  </head>
  <body>
    <h1>Id : <%= post.id %></h1>
    <h4>Username : <%= post.username %></h4>
    <form method="post" action="/posts/<%= post.id %>/?_method=PATCH">
      <textarea name="content"> <%= post.content %> </textarea>
      <button>Edit</button>
    </form>
  </body>
</html>
