<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post in Detail</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="container">
      <h2 class="details heading">Show ur Post in details</h2>
      <h3 class="details">Post Id : <%= post.id %></h3>
      <div class="post">
        <h3 class="user">Username : <%= post.username %></h3>
        <h4 class="content">Username : <%= post.content %></h4>
      </div>
    </div>
  </body>
</html>
