<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Heading 1+2</h1>
    <!-- return a JS in the form of HTML Sring -->
    <!-- we can do any performance which is possible in JS -->
    <h1> <%= 1+2 %> </h1> 
    <h2><%= ['sourav', 'babu' , 'riju' , 'shree'][0] %></h2>
    <h2><%= 'sourav'.toUpperCase() %> </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi reprehenderit deserunt dicta odit corporis, unde repellat ea ullam commodi recusandae et cumque consequuntur delectus, numquam voluptate nulla soluta quisquam voluptates!</p>
    <input placeholder="Enter here"/>
</body>
</html>