<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This page belogs to @<%= username %> </h1>
    <button>Follow</button>
    <button>Message</button>
    <h1>Persons that follow you</h1>
    <h1><% for(let followers of name){ %>
        <ul>
            <li><%= followers %></li>
        </ul>
    <% } %> </h1>
</body>
</html>